.toDoPage{
    background-color: gainsboro;
}
.title{
    font-size: 8rem;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}
.inputDiv{
    align-items: center;
}
.inputBox{
    width: 50%;
    padding: 1rem 1rem;
    margin: .5rem 5rem;
}